<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/main_page.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 
    <link href='../../wwwroot/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='../../wwwroot/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='../../wwwroot/lib/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='../../wwwroot/lib/fullcalendar/list/main.css' rel='stylesheet' />
    <script src='../../wwwroot/lib/fullcalendar/core/main.js'></script>
    <script src='../../wwwroot/lib/fullcalendar/daygrid/main.js'></script>
    <script src='../../wwwroot/lib/fullcalendar/timegrid/main.js'></script>
    <script src='../../wwwroot/lib/fullcalendar/list/main.js'></script>
    <script src='../../wwwroot/lib/fullcalendar/core/locales/pl.js'></script>
    <title>Szpital - Harmonogram</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
        	timeZone: 'local',
         	plugins: [ 'dayGrid','timeGrid','list' ],
         	header: { center: 'dayGridMonth,timeGridDay,list,addEventButton' },
         	customButtons: {
		      addEventButton: {
		        text: 'Dodaj wizytę',
		        click: function() {
		          var dateStr = prompt('Wprowadź datę w formacie: ROK-MIESIĄC-DZIEŃ');
		          var timeStartStr = prompt('Wprowadź godzinę rozpoczęcia w formacie: GODZINY:MINUTY');
		          var timeEndStr = prompt('Wprowadź godzinę zakończenia w formacie: GODZINY:MINUTY');
		          var nameStr = prompt('Wprowadź nazwę wizyty');
		          var startDate = new Date(dateStr + 'T' + timeStartStr +':00');
		          var endDate = new Date(dateStr + 'T' + timeEndStr + ':00'); // will be in local time

		          if (!isNaN(startDate.valueOf())) { // valid?
		            calendar.addEvent({
		              title: nameStr,
		              start: startDate,
		              end: endDate,
		              allDay: false,
		            });
		            alert('Wizyta dodana, zaktualizuj teraz bazę danych...');
		          } else {
		            alert('Niepoprawnie wypełnione pola, spróbuj ponownie.');
		          }
		        }
		      }
		    },
         	locale: 'pl',
         	events: [
    { // this object will be "parsed" into an Event Object
      title: 'Adam Kowalski', // a property!
      start: '2020-03-29T12:30:00', // a property!
      end: '2020-03-29T12:50:00' // a property! ** see important note below about 'end' **
    }
  ]

        });

        calendar.render();
      });

    </script>
  </head>
  <body>
   <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-light text-center"><i class="fas fa-user-md d-block display-4 text-primary"></i> Med-DB</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Moi Pacjenci <i class="fas fa-users"></i></a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Pacjenci Udostępnieni <i class="fas fa-user-plus"></i></a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Harmonogram <i class="fas fa-calendar-alt"></i></a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Wyloguj z Serwisu <i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <span class="nav-link nav-date">-</span>
            </li>
            <li class="nav-item">
              <a class="nav-link border border-top-0 border-bottom-0" href="#">Pomoc</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark font-weight-bold font-italic" href="#" id="idDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kazimierz Lekarz
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Ustawienia konta</a>
                <a class="dropdown-item" href="#">Kontakt z administratorem</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Wyloguj z Serwisu <i class="fas fa-sign-out-alt"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="my-4">Harmonogram wizyt</h1>
        <div id='calendar'></div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    setInterval(function(){
      var d = new Date();

      var month = d.getMonth()+1;
      var day = d.getDate();
      var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
      var output = ((''+day).length<2 ? '0' : '') + day + '/' + ((''+month).length<2 ? '0' : '') + month + '/' + d.getFullYear();
      $(".nav-date").text(time + " " + output);
    },1000);
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
  </script>
  </body>
</html>