
<div class="bg-dark border-right" id="sidebar-wrapper">
	<div class="sidebar-heading text-light text-center">
		<i class="fas fa-user-md d-block display-4 text-primary"></i> Med-DB
	</div>
	<div class="list-group list-group-flush">
		<a href="/Patient/Index" class="list-group-item list-group-item-action bg-dark text-light">
			Moi Pacjenci <i class="fas fa-users"></i>
		</a>
		<a href="/Patient/Shared" class="list-group-item list-group-item-action bg-dark text-light">
			Pacjenci Udostępnieni <i class="fas fa-user-plus"></i>
		</a>
		<a href="/Patient/Timetable" class="list-group-item list-group-item-action bg-dark text-light">
			Harmonogram <i class="fas fa-calendar-alt"></i>
		</a>
		<a href="/Auth/Logout" class="list-group-item list-group-item-action bg-dark text-light">
			Wyloguj z Serwisu <i class="fas fa-sign-out-alt"></i>
		</a>
	</div>
</div>